*{
    font-family: 'Poppins', sans-serif;
}
nav div ul li{
    margin-right: 15px;
    margin-left: 15px;
}
section{
    height: 100vh;
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #f2f2f2;
  }
  
  .hero h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 24px;
  }
  
  .hero p {
    font-size: 24px;
    margin-bottom: 24px;
  }
  
  .btn-primary {
    font-size: 18px;
    padding: 12px 24px;
    border-radius: 50px;
  }
  .about , .project{
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: baseline;
  }
  .about .container, #project .container{
    margin-top: 100px;
  }
  .about .container h2{
    text-align: center;
  }
  .about .container p{
    text-align: justify;
    margin-top: 30px;
  }